/* general variables */

:root {
  --color-primary: #c20051;
  --color-primary-hover: #0f6178;
  --color-primary-light: #f2ae21;
  --color-primary-light-ico: #f2ae21;
  --color-success: #00bb4b;
  --color-error: #f3005d;
  --color-bg: #888893;
  --color-bg-odd: #ffffff;
  --color-bg-alt: #dedede;
  --color-bg-invert: #313131;
  --color-bg-transparent: rgba(0,0,0,0.25);
  --color-text: #000000;
  --color-text-invert: #ffffff;
  --font-sans: sans-serif;
  --transition: all 0.4s ease-in-out;
  --transition-slow: all .6s ease-in-out;
  --transition-fast: all .15s ease-in-out;

  
  --tp-dark: rgba(0,0,0,.05);
  --tp-light: rgba(255,255,255,.08);
  --color-accent: #ea1f62;
  --color-accent-text: #ffffff;
  --color-accent-hover: #0f6178;
  --font-size: 16px;
  --radius: 100px; /* 100px, 15px, 0px are popular values */
  --toucharea: 40px;
  --gap: 10px;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  background: var(--color-bg);
  line-height: 2;
  color: var(--color-text);
  margin: 0;
  height: 100dvh;
}

* {
  box-sizing: border-box;
}

/* utilities */

html {
  font-size: 16px;
}

a{
  text-decoration: none;
}
label{
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: 800;
}

h1{
  font-size: 35px;
}

h2{
  font-size: 25px;
}

p{
    margin: 0 0 20px;
    padding: 0;
    font-size: 18px;
}

p:last-child:not([class^="mb-"]){
    margin-bottom: 0;
}

.mb-1{
    margin-bottom: 15px;
}

.mb-2{
    margin-bottom: 30px;
}

.center-items {
  display: flex;
  align-items: center;
}

.bg-odd{
    background: var(--color-bg-odd) !important;
}

.bg-alt{
    background: var(--color-bg-alt) !important;
}

.bg-alt .bg-alt{
  background: #00000010 !important;
}

.no-bg{
    background: transparent !important;
}

.color-success {
  color: var(--color-success);
}

.color-error {
  color: var(--color-error);
}

.step-nr {
  vertical-align: 2px;
  margin-right: 10px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary-hover);
}

button{
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.text-muted{
    opacity: .7;
}

fieldset{
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 * Generic Toggle Styles
 * =====================
 */

/* Hide the checkbox visually, but keep it accessible for screen readers */
.toggle-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Style the content to be initially hidden */
.toggle-content {
  display: none;
  /* Add your transition for a smooth effect if desired */
}

/* When the checkbox is checked, show the content */
.toggle-checkbox:checked ~ .toggle-content {
  display: block; /* or flex, grid, etc. */
}

xmp{
    border-radius: 20px;
    padding: 20px;
}

.sticky-top-right{
  position: sticky;
  top: 0;
  right: 0;
  float: right;
}

.sticky-top-right .btn{
  margin: -20px -20px 0 0;
}

.absolute-top-right{
  position: absolute;
  top: 0;
  right: 0;
}

.pull-top-right{
  float: right;
  margin-left: 10px;
}

.bg-error{
  background: var(--color-error) !important;
}

.bg-success{
  background: var(--color-success) !important;
}

.text-error{
  color: var(--color-error) !important;
}

.text-success{
  color: var(--color-success) !important;
}

.bg-transparent{
  background: var(--color-bg-transparent) !important;
}

.bg-alt .bg-transparent{
  background: var(--color-bg) !important;
}

.button{
    color: var(--color-text);
    font-family: var(--font);  
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--tp-dark);
    border: 0;
    font-size: var(--font-size);
    padding: 5px 20px;
    border-radius: var(--radius);
    min-height: var(--toucharea);
    cursor: pointer;
    transition: var(--transition);
}

.button:hover, .button:active{transform: translateY(2px);}

.button_break{white-space: break-spaces}
.button_lg{padding: 15px 60px;}
  
.button.focus, .button:focus {
    box-shadow: 0 0 0 0.2rem rgba(1,172,127, 0.3) !important;
}

.button.accent,
.button.accent:active {
  border: 0;
  background: var(--color-accent);
  color: var(--color-accent-text);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

.button.accent:hover,
.button.accent:active {
  background: var(--color-accent-hover);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  color: var(--color-accent-text);
}

.button.icon{
  padding: 10px 11px;
  width: var(--toucharea);
  height: var(--toucharea);
  background-size: cover;
}
.button.icon:hover{
    background-size: cover;
}

.invert .button:not(.accent){
    background: var(--tp-light);
    color: var(--text-invert);
}

.button:disabled,
.button[disabled]{
  cursor: default;
  opacity: .4;
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.buttons.set{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--tp-dark);
    border-radius: var(--radius);
    gap: 2px;
    padding: 2px;
}

.buttons li{
    list-style: none;
    margin: 0
}
